@use "../abstracts" as *;

.hero {
    color: $white;
    margin-bottom: 64px;

    &__title {
        font-size: $font-lg;
        font-weight: $bold;
        line-height: 36px;
        letter-spacing: -0.29px;
        margin-bottom: 16px;
    }

    &__text {
        line-height: 26px;
    }
}
